/* 
    Created on : Oct 25, 2016, 11:12:57 AM
    Author     : bbobier
*/

/*@font-face {
    font-family: 'Roboto Medium';
    src: url('Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}
*/
*{
    -color-primary:#003A70;
    -color-accent:#F44336;
    -color-secondary:#FF8200;
    -color-dark-primary:#003A70;

    -color-body:#F5F5F5;
}


.root {
  -fx-font: 16px "Open Sans";
  -fx-text-alignment: left;
  -fx-text-fill: #FFFFFF;
  -fx-font-smoothing-type: lcd;
  -fx-background-color: #F2F7FA;
  -fx-xos-blue: #003A70;/**XOS Blue- Dark blue used for status bar*/
  -fx-light-blue: #1BE7FF; /** Light Blue used for labels*/
  -fx-xos-blue-selected: derive(-fx-xos-blue, 30%);
  -fx-xos-orange: #FF8200;
  -fx-color-light-grey: #DCDDDE;
  -fx-color-xos-medium-grey: #939598;
  -fx-color-xos-product-grey: #414042;
  -fx-color-green: #21A036;
  -fx-color-red: #D14D4D; 
  -fx-color-yellow: #FFD700;
  -fx-color-white: #FFFFFF;
  -fx-color-black: #000000;
  -fx-color-title-color: #1E4394;
}

.affirmativeButton{
  -fx-background-color:-fx-color-green; 
  -fx-background-insets: 0 0 -1 0,0,1;
  -fx-background-radius: 5,5,4;
  -fx-padding: 3 30 3 30;
  -fx-text-fill: -fx-color-white;
  -fx-font: 27px "Open Sans";
}
.affirmativeButton:pressed {
  -fx-background-color: derive(-fx-color-green, -10%);
}
.negativeButton{
  -fx-background-color:-fx-color-red;
  -fx-background-insets: 0 0 -1 0,0,1;
  -fx-background-radius: 5,5,4;
  -fx-padding: 3 30 3 30;
  -fx-text-fill: #FFFFFF;
  -fx-font: 27px "Open Sans";
}

.negativeButton:pressed {
  -fx-background-color: derive(-fx-color-red, -10%);
}

.neutralButton{
  -fx-background-color: transparent;
  -fx-background-insets: 0 0 -1 0,0,1;
  -fx-background-radius: 5,5,4;
  -fx-border-color: -fx-xos-orange;
  -fx-border-radius: 3;
  -fx-padding: 3 30 3 30;
  -fx-text-fill: -fx-color-xos-product-grey;
  -fx-font: 27px "Open Sans";
}

.neutralButton:pressed {
  -fx-background-color: #E0E0E0;
}

.smallNeutralButton{
  -fx-background-color: transparent;
  -fx-background-insets: 0 0 -1 0,0,1;
  -fx-background-radius: 5,5,4;
  -fx-border-color: -fx-xos-blue;
  -fx-border-radius: 3;
  -fx-padding: 3 22  3 22;
  -fx-text-fill: -fx-color-xos-product-grey;
  -fx-font: 16px "Open Sans";
}

.smallNeutralButton:pressed {
  -fx-background-color: #E0E0E0;
}

.smallNeutralRedButton{
  -fx-background-color: transparent;
  -fx-background-insets: 0 0 -1 0,0,1;
  -fx-background-radius: 5,5,4;
  -fx-border-color: -fx-color-red;
  -fx-border-radius: 3;
  -fx-padding: 3 22  3 22;
  -fx-text-fill: -fx-color-red;
  -fx-font: 16px "Open Sans";
}

.smallNeutralRedButton:pressed {
  -fx-background-color: #E0E0E0;
}

.card {
  -fx-background-color: -fx-color-white;
  -fx-effect: dropshadow(gaussian, gray, 8, 0.01, 0, 2);
}

.title {
  -fx-font: 16px "Open Sans";
  -fx-text-alignment: left;
  -fx-text-fill: -fx-xos-blue;
}
/*Periodic keyboard*/
#standardKey{
  -fx-font: 16px "Open Sans";
  -fx-padding: 0;  
  -fx-text-alignment: center;
  -fx-text-fill: -fx-color-white;
  -fx-background-color: -fx-color-xos-product-grey;

}

#standardKey:pressed {
  -fx-background-color: derive(-fx-color-xos-product-grey, -10%);
}

#standardKey:disabled {
  -fx-background-color: derive(-fx-color-xos-product-grey, 10%);
}

#smallKey{
  -fx-font: 18px "Open Sans";
  -fx-padding: 0;
  -fx-text-alignment: center;
  -fx-text-fill: -fx-xos-blue;
}
/****/

.scanInfoKeyRed {
  -fx-font: 14px "Open Sans";
  -fx-text-alignment: left;
  -fx-text-fill: -fx-color-red;
}

.scanInfoKey {
  -fx-font: 14px "Open Sans";
  -fx-text-alignment: left;
  -fx-text-fill: -fx-xos-blue;
}

.scanInfoValue {
  -fx-font: 16px "Open Sans";
  -fx-text-alignment: right;
  -fx-text-fill: -fx-color-xos-product-grey; 
}

.scanInfoValueLeft {
  -fx-font: 16px "Open Sans";
  -fx-text-alignment: left;
  -fx-text-fill: -fx-color-xos-product-grey;
}

.ModalDimmer, #ModalDimmer {
  -fx-background-color: rgb(0,0,0,0.5);
}

.settings-grid {
  -fx-background-color: white ;
  -fx-padding: 10 28 10 28;
}
.settings-grid-cell{
  -fx-background-color: -fx-color-light-grey, white ;
  -fx-background-insets: 0, 0 0 1 0 ;
}

.sideNavButton {
  -fx-font: 12px "Open Sans";
  -fx-text-fill: -fx-color-white;
  -fx-background-color: -fx-xos-blue;
  -fx-text-alignment: center;
  -fx-border-radius: 0;
}
.sideNavButton:selected {
    -fx-background-color: derive(-fx-xos-blue, 30%);
}
.sideNavButton:disabled {
    -fx-background-color: -fx-color-light-grey;
}
.clockLabel{
    -fx-font-size:16;
    -fx-font-family:"Open Sans";
}

#removeRowButton{
  -fx-padding: 4 8 4 8;
  -fx-text-fill: #242d35;
  -fx-font: 10px "Open Sans";
}

.progress-bar > .bar {
    -fx-background-color: -fx-color-green;
    -fx-background-insets: 3 3 4 3;
    -fx-background-radius: 2;
    -fx-padding: 0.75em;
}

.progress-bar:indeterminate > .bar {
    -fx-background-color: linear-gradient(to left, transparent, -fx-color-green);
}

.text-input{
    -fx-highlight-fill: rgba(0,0,0,0.15);
    -fx-highlight-text-fill: black;
    -fx-prompt-text-fill: -fx-xos-blue;
}

.context-menu{
    -fx-padding: 0;  
    -fx-effect: dropshadow( gaussian,rgba(0,0,0,0.30),13,0,0,6);
    -fx-background-radius: 3px;
    -fx-background-color: white;
}
.menu-item{
    -fx-padding: 8 16  8  16;
    -fx-background-color: transparent;
}
.menu-item:focused{
    -fx-text-fill:black;
}
.menu-item:hover:focused {
    -fx-background-color: rgba(0,0,0,0.06);
    -fx-text-fill:-fx-xos-blue;
}
.menu-item .label
{
    -fx-font-size: 16; 
    -fx-text-fill: -fx-xos-blue;
}
.window{
    -fx-background-color: -color-body;
}
.label{
    -fx-font-size:16;
    -fx-font-family:"Open Sans"; 
}
.text-input{
    -fx-font-size:16;
    -fx-font-family:"Roboto";
}

.tab-layout .action-item{
    -fx-padding: 8;
    -fx-text-origin: bottom;
}
/*CHECKBOX*/
.check-box .box{
    -fx-background-color: transparent;
    -fx-border-color:rgba(0,0,0,0.5);
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
}

.check-box:disabled, .check-box:disabled > * {
  -fx-opacity: 0.4 ;
}

.check-box:selected .box{
    -fx-background-color: -fx-xos-blue;
    -fx-border-color:-fx-xos-blue;
}
.check-box .mark{
    -fx-shape: "M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z";
    -fx-fill: transparent;
    -fx-background-color: transparent;
}
.check-box:selected .mark{
    -fx-fill: white;
    -fx-background-color: white;
}
/*RowHeader*/

.row-header{
    -fx-background-color: white;
    -fx-padding:8 8 8 8;
    -fx-effect: dropshadow( gaussian,rgba(0,0,0,0.16),5,0,0,2);
}


/*.tab-pane {
  -fx-tab-min-height: 3em;
  -fx-tab-max-height: 3em;
}
.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-xos-blue;
}
.tab {
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-background-color: -color-body;
}

.tab:selected {
    -fx-background-color: -fx-color-light-grey;
}

.tab-pane *.tab-header-background {
    -fx-background-color: -color-body;
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em 0.166667em 0.0em 0.0em;
}
.tab:selected .focus-indicator {
    -fx-border-color: derive(-fx-xos-blue, 100%);
} */
.tab-pane *.tab-header-background {
    -fx-background-color: -color-body;
}
.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-xos-blue;
}
.tab {
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-background-color: -color-body;
}
.tab:selected  {
    -fx-background-color: derive(-fx-xos-blue, 30%);
    -fx-text-fill: -fx-color-white;
}
/*.tab:selected .focus-indicator {
    -fx-border-color: derive(-fx-xos-blue, 100%);
}*/
.tab:selected .tab-label  {
    -fx-text-fill: -fx-color-white;
}

.presetButton {
  -fx-text-fill: -fx-xos-blue;
  -fx-background-color: -fx-color-light-grey;
  -fx-text-alignment: center;
  -fx-border-radius: 0;
}

.presetButton:selected {
    -fx-background-color: derive(-fx-xos-blue, 30%);
    -fx-text-fill: -fx-color-white;
}

/*ComboBox*/

.combo-box > .list-cell {
   
    -fx-background-color: white;
   -fx-padding: 8; /* 4 8 5 8 */
}

.combo-box-base{
    -fx-background-color:white;
    -fx-border-radius:3px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.3) , 5,0,0,2 );
    -fx-background-insets:0;
    -fx-font-size:16px;
}

.combo-box-base .list-view{
    -fx-effect: dropshadow( gaussian,rgba(0,0,0,0.30),13,0,0,6);
    -fx-background-radius: 3px;
    -fx-background-color: white;
}
.combo-box-base .list-view .list-cell{
    -fx-padding: 4px;
}
.combo-box-popup .list-view .list-cell:filled:selected
{
    -fx-background-color: white;
    -fx-text-fill: -fx-xos-orange;
    -fx-background-color: rgba(0,0,0,0.06);

}

.combo-box-popup .list-view .list-cell:filled:selected .label{
    -fx-font-weigth: bold;
}
.combo-box-popup .list-view .list-cell:filled:selected:hover,
.combo-box-popup .list-view .list-cell:hover 
{
    -fx-background-color: rgba(0,0,0,0.06);
    -fx-text-fill: -fx-xos-blue;
}

/* DatePicker*/
.date-picker-popup {
    -fx-effect: dropshadow( gaussian,rgba(0,0,0,0.16),5,0,0,2);
    -fx-background-radius: 6px;
    -fx-background-color: white;
}
.date-picker > .arrow-button{
    -fx-background-color:transparent;
}
.date-picker > .arrow-button > .arrow{
    -fx-shape: "M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z";
    -fx-background-color:-fx-xos-blue;
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}
.date-picker > .text-input{
    -fx-background-color:transparent;
}
.date-picker-popup > .month-year-pane {
    -fx-padding:24 16 24 16; /* 7 6 8 6 */
    -fx-background-color: -fx-xos-blue;
    -fx-background-insets: 0;

}
.date-picker-popup > .month-year-pane .label{
    -fx-text-fill:#fff;
    -fx-font-size:24px;
}
.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: #fff;
    -fx-effect: none;
}
.date-picker-popup > * > .spinner > .button:hover > .left-arrow,
.date-picker-popup > * > .spinner > .button:hover > .right-arrow {
    -fx-background-color: #fff;
}
.date-picker-popup > * > .spinner > .button:pressed > .left-arrow,
.date-picker-popup > * > .spinner > .button:pressed > .right-arrow {
    -fx-background-color:  #fff;
}

.date-picker-popup > * > .spinner > .button:focused {
    -fx-background-color: transparent;
    -fx-color: transparent;
}
.date-picker-popup > * > .spinner > .button:hover {
    -fx-color: transparent;
}
.date-picker-popup > * > .spinner > .button:armed {
    -fx-color: transparent;
}
.date-picker-popup > .calendar-grid {
    -fx-background-color: #fff;
    -fx-padding:8px;
}

.date-picker-popup > * > .day-cell{
    -fx-padding: 8 12;
    -fx-background:transparent;
    -fx-background-color:transparent;
    -fx-text-fill:rgba(0,0,0,0.75);
    -fx-border-width:0;
}
.date-picker-popup > * > .day-cell:hover {
    -fx-text-fill: -fx-xos-blue;
    -fx-background: transparent;
    -fx-background-color: transparent;
}
.date-picker-popup > * > .selected,
.date-picker-popup > * > .selected:hover,
.date-picker-popup > * > .day-cell:pressed {
    -fx-background-radius:50%;
    -fx-background-insets: 0 4;
    -fx-background:-fx-xos-blue;
    -fx-background-color: -fx-xos-blue;
    -fx-text-fill: #fff;
}

.jfx-time-picker{
  -jfx-default-color: -color-dark-primary;
}

.jfx-date-picker{
    -jfx-default-color: -fx-xos-blue;
}

/*ScrollPane*/
.scroll-pane{
    -fx-background-color: transparent;
}
.scroll-pane > .viewport{
    -fx-background-color: transparent;
}
/*ScrollBar*/
/*.scroll-bar{
    -fx-background-color:transparent;
    -fx-padding: 0;
}*/
.scroll-bar > .thumb{
    -fx-background-color:-fx-xos-blue;
    -fx-opacity: 0.5;
    -fx-background-insets: 4;
}
.scroll-bar > .increment-button, 
.scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

/** TableView**/

.table-view .column-header, .table-view .filler {
    -fx-background-color: white;
}
.table-view .column-header{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: rgba(1,1,1,0.15);
}
.table-view .column-header .label{
    -fx-font-size:16px;
    -fx-text-fill: -fx-xos-blue;
    /*-fx-padding: 0.8em;*/
    -fx-font-weight:400;
}

.table-row-cell:odd{
    -fx-background-color: -fx-color-xos-medium-grey;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:focused,
.table-view:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:focused,
.tree-table-view:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:focused,
.table-view:focused:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:focused,
.tree-table-view:focused:cell-selection > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell > .tree-table-cell:focused {
    -fx-background-color: -fx-xos-blue-selected;
    -fx-background-insets: 0, 1, 2;
}

#redBox, .redBox,#yellowBox, .yellowBox, #greenBox, .greenBox  {
  -fx-background-color: -fx-color-xos-medium-grey;
  -fx-text-fill: -fx-color-white;
}

/*#yellowBox, .yellowBox  {
  -fx-background-color: -fx-color-yellow;
  -fx-text-fill: #000000;
}
#greenBox, .greenBox {
  -fx-background-color: -fx-color-green;
  -fx-text-fill: #ffffff;
}
*/
#whiteBox, .whiteBox {
    -fx-background-color: -fx-color-light-grey;
}
#DetailCard, .DetailCard {
  -fx-border-color: #F3F5F6;
  -fx-border-style: solid;
  -fx-border-width: 2; 
  -fx-border-radius: 8;
}
#LegendBox, .LegendBox  {
  -fx-border-color: transparent;
  -fx-border-style: none;
  -fx-border-width: 2; 
  -fx-border-radius: 8;
}
.whiteCartoucheLabel, #whiteCartoucheLabel{
  -fx-font: 28px "Roboto Regular";
  -fx-text-fill: #FFFFFF;
}
.whiteCartoucheText, #whiteCartoucheText{
  -fx-font: 18px "Roboto Regular";
  -fx-text-fill: #FFFFFF;
}

.cartoucheLabel{
  -fx-font: 28px "Roboto Regular";
  -fx-text-fill: -fx-color-white;
}
.cartoucheText{
  -fx-font: 18px "Roboto Regular";
  -fx-text-fill: -fx-color-white;
}

.standardKey, smallKey {
  -fx-text-fill: -fx-xos-blue;
  -fx-background-color: -fx-xos-light-grey;
}

.largeConcentrationLabel {
  -fx-font: 72px "Open Sans";
  -fx-text-fill: -fx-xos-blue;
}

.largeElementLabel {
  -fx-font: 72px "Open Sans";
  -fx-text-fill: -fx-xos-blue;
  -fx-opacity: 0.1;
}

.elementLabel{
  -fx-font: 28px "Open Sans";
  -fx-text-fill: -fx-xos-blue;
}
.ppmLabel{
  -fx-font: 18px "Open Sans";
  -fx-text-fill: -fx-xos-blue;
}

/**
ControlsFX ToggleSwitch
*/
.toggle-switch:selected .thumb-area{
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)),
                            linear-gradient(to bottom, derive(-fx-xos-blue, 30%), -fx-xos-blue);
    -fx-background-insets: 0, 1;

}

.dialog-pane {
    -fx-effect: dropshadow(gaussian, gray, 8, 0.01, 0, 2);
    -fx-border-width: 2;
    -fx-border-color: -fx-xos-blue;
    -fx-font-size:14;
}

.titleLabel, #titleLabel {
  -fx-font: 19px "Raleway";
  -fx-text-alignment: left;
  -fx-text-fill: -fx-color-title-color;
}

.titleLabelGrey, #titleLabelGrey {
  -fx-font: 19px "Raleway";
  -fx-text-alignment: left;
  -fx-text-fill: -fx-color-xos-medium-grey;
}

.titleLabelMedium, #titleLabelMedium {
  -fx-font: 22px "Raleway";
  -fx-text-alignment: left;
  -fx-text-fill: -fx-color-title-color;
}

.titleLabelLarge, #titleLabelLarge {
  -fx-font: 48px "Raleway";
  -fx-text-alignment: center;
  -fx-text-fill: -fx-color-title-color;
}

.text-field.error {
  -fx-text-box-border: red ;
  -fx-focus-color: red ;
}
/**

.dialog-pane:header .header-panel .label {
    -fx-font-style: italic;
    -fx-font-size: 2em;
}

*/